{% extends 'partials/_base.html'%}
{% load static %}
{% block content %}

    <div class="container mt-5">
        {% if "add_book" in request.path %}
        <h2 class="mb-4">Add a New Book</h2>
        {% else %}
        <h2 class="mb-4">Update a Book</h2>
        {% endif %}
        <form action="{% url 'add_book' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-3">
                {{ form.errors }}
                {% if form.errors %}
                    <ul class="list-group list-unstyled">
                        {% for field,error in form.errors.items %}
                        <li class="list-group-item bg-primary text-white"> {{error}}</li>
                        {% endfor %}
                    </ul>
            
                       
            {% endif %}

            </div>


            <div class="mb-3">
                <label for="title" class="form-label">Book Title</label>
                {{ form.title}}
                <small class="form-text text-muted">Buradan kitabın adını daxil edin</small>
            </div>

            <div class="mb-3">
                <label for="author" class="form-label">Author</label>
                <select class="form-select" id="author" name="author" required>
                    <option value="">Select Author</option>
                    {% for author in form.author.field.queryset%}
                        <option value="{{ author.id }}">{{author.author_name}}</option>
                    {% endfor %}
                </select>
            </div>
           

            <div class="mb-3">
                <label for="tags" class="form-label">Tags</label>
                <select multiple class="form-select" id="tags" name="tags">
                    {% for tag in form.tags.field.queryset %}
                        <option value="{{ tag.id }}">{{tag.tag_name}}</option>
                    {% endfor %}
                </select>
            </div>
           

            <div class="mb-3">
                <label for="img" class="form-label">Book Cover</label>
                <input type="file" class="form-control" id="img" name="img" required>
            </div>

            <div class="mb-3">
                <label for="category" class="form-label">Category</label>
                <select class="form-select" id="category" name="category" required>
                    <option value="">Select Category</option>

                    {% for category in form.category.field.queryset %}
                        <option value="{{ category.id }}"> {{category.category_name}}</option>
                        
                    {% endfor %}
                </select>
            </div>
           
           
            <div class="mb-3">
                <label for="price" class="form-label">Price</label>
                <input type="number" class="form-control" id="price" name="price" min="3" max="50" required>
            </div>

            <div class="mb-3">
                <label for="publisher_date" class="form-label">Publisher Year</label>
                <input type="number" class="form-control" id="publisher_date" name="publisher_date" min="1700" max="2025" required>
            </div>

            <div class="mb-3">
                <label for="on_sale" class="form-label">On Sale</label>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="on_sale" name="on_sale">
                    <label class="form-check-label" for="on_sale">
                        Yes
                    </label>
                </div>
            </div>

            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea class="form-control" id="description" name="description" rows="4" required></textarea>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>



{% endblock %}

